html {
    font-size: 14px;
    font-family: 'OpenSans-Regular';
}

.roboto-med{
    font-family: 'Roboto-Medium';
}

.roboto-light{
    font-family: 'Roboto-Light';
}

.roboto-bold {
    font-family: 'Roboto-Bold';
}

.roboto-reg{
    font-family: 'Roboto-Regular';
}

