html {
    font-size: 14px;
    font-family: 'OpenSans-Regular';
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto-Medium';
    color: #333B46;
    letter-spacing: 2px;
}

.line:after {
    content: '';
    display: block;
    width: 46px;
    height: 3px;
    background-color: #898989;
    margin-top: 24px;
}


.line-center:after {
    content: '';
    margin: 0 auto;
    display: block;
    width: 46px;
    height: 3px;
    background-color: #898989;
    margin-top: 24px;
}

p{
    color: #81868E;
}

.roboto-light{
    font-family: 'Roboto-Light';
}

.roboto-bold {
    font-family: 'Roboto-Bold';
}

.roboto-reg{
    font-family: 'Roboto-Regular';
}

.leckerli {    
  font-family: 'LeckerliOne-Regular';
}

.red-bg{
    background-color: #E84C3D;
}

.red-text{
    color: #E84C3D;
}

.btn-danger {
    background-color: #E84C3D !important;
}

/* header start */


header .navbar h1 a {
    font-size: 2rem;
    color: #E84C3D !important;
}

header .navbar-collapse {
    background-color: #E4E2E5;
    border-radius: 0 0 20px 20px;
}

header .navbar-collapse li {
    border-bottom: 1px dotted #E84C3D;
}

header .navbar-collapse li:last-of-type {
    border-bottom: 0;
}

/* main start */
/*index section*/

.index {
    background-size: cover;
    background-position: center center;
    padding: 176px 0 190px 0;
}

.index .index-title p {
    letter-spacing: 3px;
}

.index .scroll {
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.index .scroll-item{
    width: 23px;
    height: 38px;
    border: 1px solid #000;
    border-radius: 10px;    
}

.index .scroll p {
    color: #E84C3D;
}



/*about section*/

.about {
    padding: 110px 0;
}

.about .container {
    max-width: 986px;
}

.about .about-title p {
    line-height: 24px;
}

.about .about-title .btn-danger:hover {
    background-color: #fff !important;
    color: #E84C3D;
}